:host {
  display: block;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 3px rgba(204, 204, 204, 0.5);
  margin: 20px 0;
  /*padding: 20px;*/
  /*transition: border-color 0.5s ease-in-out;*/
}

/* Could have stopped the jumping around this way */
/*:host(.marked) {*/
 /*padding: 19px;*/
/*}*/

:host(.inactive) {
  color: #ccc;
}

.form-control {
  display: inline-block;
  width: 50%;
}
